---
export interface Props {
  text?: string;
  variant?: string;
  class?: string;
}

const { text = "Cliquez ici", variant, class: className } = Astro.props;
---

<button class:list={[variant, className]}>
  {text}
</button>
