---
import Logo from "../components/Logo.astro";
import Button from "./Button.astro";
---

<header class="pt-5 absolute top-0 w-full">
  <div class="flex justify-between items-center w-full">
    <div>
      <Logo class="fill-white" />
    </div>
    <div class="hidden lg:block">
      <nav>
        <ul class="flex gap-14 menu-wrapper">
          <li>Solutions</li>
          <li>Témoignages</li>
          <li>À propos</li>
          <li>FAQ</li>
        </ul>
      </nav>
    </div>
    <div>
      <Button
        class="hidden lg:block"
        variant="btn-primary"
        text="Contacte-nous"
      />
      <Button class="" variant="btn-tertiary-white" text="Rappel gratuit" />
    </div>
  </div>
</header>
<style lang="postcss">
  .menu-wrapper {
    & > li {
      color: white;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      position: relative;
      &::after {
        content: " ";
        background-color: white;
        -webkit-mask: url(/img/chevron-down.svg) no-repeat center;
        mask: url(/img/chevron-down.svg) no-repeat center;
        width: 14px;
        height: 8px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(calc(100% + 10px), -50%);
      }
    }
  }
</style>
