---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import "@fontsource/nunito/300.css";
import "@fontsource/nunito/300-italic.css";
import "@fontsource/nunito/400.css";
import "@fontsource/nunito/400-italic.css";
import "@fontsource/nunito/500.css";
import "@fontsource/nunito/500-italic.css";
import "@fontsource/nunito/600.css";
import "@fontsource/nunito/600-italic.css";
import "@fontsource/nunito/700.css";
import "@fontsource/nunito/700-italic.css";
import "@fontsource/nunito/800.css";
import "@fontsource/nunito/800-italic.css";
import "@fontsource/nunito/900.css";
import "@fontsource/nunito/900-italic.css";


---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta data-hid="description" name="description" content={description} />
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-8M2101FME1"></script>
    <script type="text/partytown">
      //@ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8M2101FME1');
    </script>
  </head>
  <body>
    <slot />
  </body><style is:global>
    body {
      font-family: "Nunito", sans-serif;
    }
  </style>
</html>
