---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import "@fontsource/nunito/300.css";
import "@fontsource/nunito/300-italic.css";
import "@fontsource/nunito/400.css";
import "@fontsource/nunito/400-italic.css";
import "@fontsource/nunito/500.css";
import "@fontsource/nunito/500-italic.css";
import "@fontsource/nunito/600.css";
import "@fontsource/nunito/600-italic.css";
import "@fontsource/nunito/700.css";
import "@fontsource/nunito/700-italic.css";
import "@fontsource/nunito/800.css";
import "@fontsource/nunito/800-italic.css";
import "@fontsource/nunito/900.css";
import "@fontsource/nunito/900-italic.css";


---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta data-hid="description" name="description" content={description} />
    <!-- Google Tag Manager -->
    <script>
      //@ts-nocheck

      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KL52VP3');</script>
  <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KL52VP3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body><style is:global>
    body {
      font-family: "Nunito", sans-serif;
    }
  </style>
</html>
